main {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.page {
  margin-top: 50px;
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
}

.container {
  margin: auto;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.bioContainer {
  width: 45%;
  background-color: rgb(20, 20, 20);
}

.bioContainer h2 {
  color: #fff;
  font-size: clamp(1rem, 2vw, 4rem);
  font-weight: 600;
}

.backgroundImage {
  width: 45%;
  height: auto;
  max-width: 350px;
  transition: filter 800ms ease, opacity 800ms ease, background-size 800ms ease,
    background-position 800ms ease;
}

.bio {
  color: rgb(225, 225, 225) !important;
  font-family: Gtwalsheimprotrial !important;
  font-size: 1em !important;
  line-height: 24px !important;
  text-align: justify;
}

.brainDump {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

@media (max-width: 1250px) {
  .bioContainer {
    padding-right: 0px;
  }
}

@media (max-width: 950px) {
  .container {
    margin: 0 auto;
  }

  .page {
    flex-flow: column nowrap;
    margin-top: 50px;
  }

  .backgroundImage {
    width: 100%;
  }

  .bio {
    text-align: center;
  }

  .bioContainer {
    width: 100%;
    padding-right: 0px;
    text-align: center;
  }
}
