@font-face {
  font-family: "Gtwalsheimprotrial";
  src: url("../fonts/GTWalsheimPro-Thin.ttf");
  src: local("Gtwalsheimprotrial Pro Thin"),
    local("Gtwalsheimprotrial-Pro-Thin"),
    url("../fonts/GTWalsheimPro-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Moderat";
  src: url("../fonts/Moderat-Regular.eot");
  src: local("Moderat Regular"), local("Moderat-Regular"),
    url("../fonts/Moderat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Moderat-Regular.woff2") format("woff2"),
    url("../fonts/Moderat-Regular.woff") format("woff"),
    url("../fonts/Moderat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Moderat";
  src: url("../fonts/Moderat-Bold.eot");
  src: local("Moderat Bold"), local("Moderat-Bold"),
    url("../fonts/Moderat-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Moderat-Bold.woff2") format("woff2"),
    url("../fonts/Moderat-Bold.woff") format("woff"),
    url("../fonts/Moderat-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html,
body {
  color: #fff;
  font-family: "Moderat", sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: rgb(20, 20, 20);
}
