html,
body {
  font-family: sans-serif;
}

body {
  margin: 10px;
}

nav {
  text-align: center;
}

@media (max-width: 750px) {
  body {
    margin: 0px 10px;
  }

  .bioContainer > div {
    width: 100%;
  }

  img {
    max-width: none !important;
    width: 100%;
  }

  .backgroundImage {
    width: 100%;
  }
}

.jobTitle {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.jobDate {
  font-size: 16px;
}

.companyInfo {
  margin-top: 5px;
}

.skillColumn {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.skillRow {
  display: flex;
  flex-flow: row nowrap;
}

.positionTitle {
  font-weight: 600;
}

@media (max-width: 950px) {
  .container {
    padding: 0px;
    width: 90%;
  }
}

@media (max-width: 550px) {
  .skillRow {
    flex-flow: column nowrap;
  }
}
