.indexContainer {
  height: 100%;
  display: flex;
  width: fit-content;
  margin-left: 150px;
}

.indexBackgroundImage {
  display: block;
  height: 100%;
  width: 100%;
  background-image: url(https://portfolio-current-2.s3.ca-central-1.amazonaws.com/samara.jpg);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  opacity: 0.15;
  transition: background-size 800ms ease, background-position 800ms ease;
}

.indexMenu {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  z-index: 2;
  position: relative;
}

.indexMenuItem {
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  cursor: pointer;
  font-size: clamp(2rem, 7vw, 5rem);
  font-weight: 300;
  display: block;
  text-decoration: none;
  transition: opacity 400ms ease;
}

.indexMenuItem:hover {
  opacity: 1 !important;
}

.indexMenuItem:hover .indexBackgroundImage {
  background-size: 100vmax !important;
  opacity: 0.10 !important;
}

.indexMenu:hover .indexMenuItem {
  opacity: 0.3;
}

@media (max-width: 950px) {
  .indexContainer {
    justify-content: center;
    margin-left: 0px;
    width: 100%;
  }

  .indexMenu {
    display: (props) => (props.showHeader ? "none" : "block"),
    textAlign: "center",
  }
}